.grid {
    border: black 2px solid;
    display: flex;
    flex-wrap: wrap;
    height: 800px;
    width: 960px;
    margin: 50px auto;
}

.square {
    border: black 2px solid;
    box-sizing: border-box;
}

.hover {
    background-color: red;
}