.grid {
    border: 2px solid black;
    display: flex;
    flex-wrap: wrap;
    height: 800px;
    width: 960px;
    margin: 50px auto;
}

.square {
    border: 1px solid black;
    box-sizing: border-box;
    flex: 1 1 auto;
}

.hover {
    background-color: red;
}

#new-grid-btn {
    padding: 20px;
    margin-top: 10px;
    margin-left: 10px;
}